<?xml version="1.0"?>
<authentication mode="Forms" >
  <!-- The name, protection, and path attributes must match 
           exactly in each Web.config file. -->
  <forms loginUrl="http://odcdemo/ApertaAiDPS/launchPad/Login.aspx" name=".ASPXFORMSAUTH" protection="All" path="/" timeout="30"/>
</authentication>
